label {
    display: block;
    margin: 10px 0;
    width: 400px;
}

label input, label select {
    position: absolute;
    left: 200px;
    width: 175px;
}

.message {
    color: #ffffff;
    font-size: 16px;
    text-align: left;
}
