body {
    background: url('../img/road.jpg') center center/cover no-repeat fixed;
    height: 100%;
    color:white;
    font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	overflow-y:scroll;
}

/********************* Top Menu ********************/
#cssmenu {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px gray;
	border-top: 0;
	background: rgba(53, 53, 53, 0.8);
}

#cssmenu ul {
    margin: 0;
    padding: 0 0 1px 0;
    font-size: 12px;
}

#cssmenu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0 2px;
}

#cssmenu li a {
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px 7px 20px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

#cssmenu li a:hover {
    color: #999999;
    border-bottom-color: rgb(59, 150, 206);
}

#cssmenu li.active a {
    border-bottom-color: rgb(59, 150, 206);
}

#cssmenu li a img {
	height: 15px;
	width: 15px;
	margin-right: 1em;
}

/************ GENERIC TABLE STYLES *******************/
table.general {
    color:#FFFFFF;
    width:100%;
    vertical-align: middle;
}
table.general.blackwhite {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    font-size:1.2rem;
}
/*table.general tbody tr:hover {
    background: rgba(238, 238, 238, 0.09);
    cursor: pointer;
} */
table.general.color tbody td {
    border:1px solid #FFFFFF;
}
table.general.color td {
    border-collapse: collapse;
    padding:5px 10px;
}
table.general.blackwhite td {
    padding:5px;
}
table.general thead, table.general tfoot {
    font-weight:bold;
}
table.general.color thead, table.general.color tfoot {
    background: rgb(59, 150, 206);
    text-transform: uppercase;
    font-size: 1.2rem;
}
table.general.blackwhite thead, table.general.blackwhite tfoot {
    background:#353535;
}
table.general.color thead tr, table.general.color tfoot tr {
    border:1px solid #FFFFFF;
}
table.general.blackwhite thead td, table.general.blackwhite tfoot td {
    border:1px solid #FFFFFF;
}

/************************ UNCHECKED **********************/
button, input[type=submit]{
    color:black !important;
}

.last {
    float: right !important;
}

.buttonLoginscreen {
    float: left;
    background: #353535;
    background: -moz-linear-gradient(top, #353535 0%, #353535 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, #353535));
    background: -webkit-linear-gradient(top, #353535 0%, #353535 100%);
    background: -o-linear-gradient(top, #353535 0%, #353535 100%);
    background: -ms-linear-gradient(top, #353535 0%, #353535 100%);
    background: linear-gradient(top, #353535) 0%, #353535 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(59, 150, 206)', endColorstr='#353535', GradientType=0);
    padding: 8px 13px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #353535;
    margin-top: 2em;
    margin-right: 2.1em;
}

#inline, section.mainSite {
    width: 980px;
    min-height: 580px;
    background-color: rgba(53, 53, 53, 0.8);
    border: solid 1px gray;
    margin:2em auto 1em auto;
}

h1{
	font-size:56px;
}
h2{
	font-size:20px;
	padding:0px 0px 40px 0px;
	color:#aaa;
}
h2 span{
	color:rgb(239,182,1);
}
a{
	color:#777;
}

p{
	padding:5px 0px;
}
.wrapper{
	width:960px;
	margin:20px auto;
	min-height:550px;
}
.box{
	width:49%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
a.back{
	color:#777;
	position:fixed;
	top:5px;
	right:10px;
	text-decoration:none;
}

