html {
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	color:white;
}

body {
    background: url('../img/road.jpg') center center/cover no-repeat fixed;
    height: 100%;
	font-size:14px;
	overflow-y:scroll;
}

body > .wrapper,
body > header {
	width: 980px;
	margin: 0 auto;
}
body > .wrapper {
	margin: 2em auto;
}

/********************* Top Menu ********************/
body > header > nav {
    border: solid 1px gray;
	border-top: 0;
	background: rgba(53, 53, 53, 0.8);
}

body > header > nav ul {
    margin: 0;
    padding: 0 0 1px 0;
    font-size: 12px;
}

body > header > nav li {
    display: block;
    float: left;
    margin: 0;
    padding: 0 2px;
}

body > header > nav li a {
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px 7px 20px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

body > header > nav li a:hover {
    color: #999999;
    border-bottom-color: rgb(59, 150, 206);
}

body > header > nav li.active a {
    border-bottom-color: rgb(59, 150, 206);
}

body > header > nav li a img {
	height: 15px;
	width: 15px;
	margin-right: 1em;
}

/************ GENERIC TABLE STYLES *******************/
table.general {
    color:#FFFFFF;
    width:100%;
    vertical-align: middle;
}
table.general.blackwhite {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    font-size:1.2rem;
}
/*table.general tbody tr:hover {
    background: rgba(238, 238, 238, 0.09);
    cursor: pointer;
} */
table.general.color tbody td {
    border:1px solid #FFFFFF;
}
table.general.color td {
    border-collapse: collapse;
    padding:5px 10px;
}
table.general.blackwhite td {
    padding:5px;
}
table.general thead, table.general tfoot {
    font-weight:bold;
}
table.general.color thead, table.general.color tfoot {
    background: rgb(59, 150, 206);
    text-transform: uppercase;
    font-size: 1.2rem;
}
table.general.blackwhite thead, table.general.blackwhite tfoot {
    background:#353535;
}
table.general.color thead tr, table.general.color tfoot tr {
    border:1px solid #FFFFFF;
}
table.general.blackwhite thead td, table.general.blackwhite tfoot td {
    border:1px solid #FFFFFF;
}

/********************* Guest style ******************/
section.guest {
	width: 350px;
}

section.guest h1,
section.guest footer {
	background-color: #353535;
	color: #fff;
}
section.guest h1 {
	padding: 15px 25px 13px;
	font-size: 1.8em;
	border-bottom: 3px solid #3B96CE;
}

section.guest .inner {
	background: #FFF;
	font-size:1em;
    color: #353535;
    padding: 20px;
}
section.guest .inner p,
section.guest footer p {
	margin-bottom: 10px;
}
section.guest .inner p:last-child,
section.guest footer p:last-child {
	margin: 0;
}
section.guest .inner label{
	display: block;
	margin-bottom: 5px;
}
section.guest .inner input[type="radio"],
section.guest .inner input[type="date"],
section.guest .inner input[type="text"],
section.guest .inner input[type="password"],
section.guest .inner input[type="file"],
section.guest .inner select {
    border: 1px solid #353535;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
}

section.guest .inner input[type="text"],
section.guest .inner input[type="password"] {
    display: block;
    width: 80%;
}
section.guest .inner input[type="text"]:focus,
section.guest .inner input[type="password"]:focus{
	border:1px solid #3B96CE;
	outline: 0;
}

section.guest footer {
	padding: 15px;
}

section.guest footer p.error {
	color: #FF0000;
}
section.guest footer input[type="submit"],
section.guest footer input[type="reset"] {
	background: #ffffff;
	border: 1px solid #ccc;
	color: #353535;
	font-weight: bold;
	text-align: center;
	width: 150px;
	float: right;
	font-size: 1em;
	height: 40px;
	padding: 0;
	cursor: pointer;
}
section.guest footer input[type="submit"]:disabled,
section.guest footer input[type="reset"]:disabled,
section.guest footer input[type="submit"]:hover:disabled,
section.guest footer input[type="reset"]:hover:disabled {
    background-image:url(../img/loading.gif);
    height:39px;
    font-size:0;
    background-repeat: no-repeat;
    background-position: center;
}
section.guest footer input[type="reset"] {
    background:#aaaaaa;
    float:left;
    margin-right:0;
}
section.guest footer input[type="submit"]:hover,
section.guest footer input[type="reset"]:hover{
    background: #d1d1d1;
}

/******************************** GENERIC *******************************/
.clear {
	clear:both;
}