/* Form Style *//*
.form_wrapper .bottom{
	clear:both;
}
/*.form_wrapper .column{
	width:47%;
	float:left;
}*/
/*form.active{
	display:block;
}*/
/*form.login{
	width:350px;
}
section.guest#register form, section.guest#register .form_wrapper {
	width:550px;
}
form.forgot_password{
	width:300px;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}

.content#register .imageUploadPreview {
    border:1px solid #000000;
    margin: 5px 30px 0px 30px;
    width: 12em;
    height: 10em;
}

.form_wrapper a.forgot{
	float:right;
	font-style:italic;
	line-height:24px;
	color:rgb(239,182,1);
	text-shadow:1px 1px 1px #fff;
}

.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}

.success {
    color: green;
    font-size: 13px;
    display: block;
    margin: 4px 30px;
}*/