body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	color:rgb(53,53,53);
	text-shadow:1px 1px 1px #fff;
	overflow-y:scroll;
}
h1{
	font-size:56px;
}
h2{
	font-size:20px;
	padding:0px 0px 40px 0px;
	color:#aaa;
}
h2 span{
	color:rgb(239,182,1);
}
a{
	color:#777;
}

p{
	padding:5px 0px;
}
.wrapper{
	width:960px;
	margin:20px auto;
	min-height:550px;
}
.box{
	width:49%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
a.back{
	color:#777;
	position:fixed;
	top:5px;
	right:10px;
	text-decoration:none;
}
/* Form Style */
.content {
    float: left;
}

.form_wrapper{
	background:#fff;
	margin-left:2em;
    margin-top: 2em;
	width:350px;
	font-size:16px;
}
.form_wrapper h3,
.form_wrapper h4 {
	padding:20px 30px 20px 30px;
	background-color:rgb(53,53,53);
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}
.form_wrapper h4{
	font-size:18px;
	font-style:italic;
}
.form_wrapper h3+h4 {
    margin-top:0;
    padding-top:0;
}
/* Fucking css has a selector for element X after element Y, but not for element Y before element X */
.form_wrapper h3.beforeh4 {
    margin-bottom:0;
    border-width:0;
}
:not(.content#register) .form_wrapper form{
	display:none;
	background:#fff;
}
.form_wrapper .column{
	width:47%;
	float:left;
}
form.active{
	display:block;
}
form.login{
	width:350px;
}
.content#register form, .content#register .form_wrapper {
	width:550px;
}
form.forgot_password{
	width:300px;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:0px 30px 0px 30px;
	margin:10px 0px 0px 0px;
}
.form_wrapper input[type="radio"],
.form_wrapper input[type="date"],
.form_wrapper input[type="text"],
.form_wrapper input[type="password"],
.form_wrapper input[type="file"],
.form_wrapper select {
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    margin: 5px 30px 0px 30px;
    padding: 5px;
    font-size: 16px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="password"] {
    display: block;
    width: 76%;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
	background:#feffef;
}
.content#register .imageUploadPreview {
    border:1px solid #000000;
    margin: 5px 30px 0px 30px;
    width: 12em;
    height: 10em;
}
.form_wrapper .bottom{
	background-color:rgb(53,53,53);
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
}
.form_wrapper .bottom a{
	display:block;
	clear:both;
	padding:10px 30px;
	text-align:right;
	color:rgb(239,182,1);
	text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
	float:right;
	font-style:italic;
	line-height:24px;
	color:rgb(239,182,1);
	text-shadow:1px 1px 1px #fff;
}

.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
	/*visibility:hidden;*/
	color:red;
	font-size:11px;
	font-style:italic;
	display:block;
	margin:4px 30px;
}
.form_wrapper input[type="submit"],
.form_wrapper input[type="reset"] {
	background: #ffffff;
	border: 1px solid #ccc;
	color: rgb(53,53,53);
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	border-radius: 4px;
}
.form_wrapper input[type="submit"]:disabled,
.form_wrapper input[type="reset"]:disabled,
.form_wrapper input[type="submit"]:hover:disabled,
.form_wrapper input[type="reset"]:hover:disabled {
    background-image:url(../img/loading.gif);
    height:39px;
    font-size:0;
    background-repeat: no-repeat;
    background-position: center;
}
.form_wrapper input[type="reset"] {
    background:#aaaaaa;
    float:left;
    margin-right:0;
}
.form_wrapper input[type="submit"]:hover,
.form_wrapper input[type="reset"]:hover{
    background: #d1d1d1;
}

#error, .error{
    color: red;
    display: none;
    text-align: center;
    font-size: 10px;
}
/*.form_wrapper input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}*/


#register, #password {
    display: none;
}

/* icons */
#loginIcons {
    margin-left: 2.4em;
    float: left;
    margin-top: 2.2em;
}

#loginIcon, #registerIcon, #passwordIcon {
    height: 100px;
    width: 100px;
    cursor: pointer;

}

form.register-wizard {
	/*display:none;*/
    /*-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;*/
}
form.register-wizard.ng-hide-add {
    /*-moz-transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -o-transform: translateX(-350px);
    -ms-transform: translateX(-350px);
    transform: translateX(-350px);
    display:block !important;*/
}