#avatar {
    height: 10em;
    width: 10em;
    margin-top: 1em;
    padding: 1em;
    border: solid 1px gray;
}

#infoUser {
    color: white;
    margin-left: -1.5em;
}

.info {
    margin-top: 1em;
}

#profileName, section.mainSite header {
    font-size: 2em;
    color: white;
    border-bottom: solid 1px gray;
    padding: 1em 0em 0em 0em;
    margin-right: 0.5em;
}

#blockLeft {
    float: left;
}

.blockRight, .myRoutes {
    border: solid 1px gray;
    margin-right: 1em;
    margin-top: 1em;
    width: 19em;
    position: relative;
}

.blockRight {
    float: right;
    min-height: 485px;
    padding: 1em;
}

.myRoutes, #trajects {
    width: 73.5em;
    min-height: 485px;
    float: left;
    margin-left: 1em;
}

#gender {
    height: 1em;
    padding-left: 0.2em;
}

.gender {
    height: 1em;
    padding-left: 0.2em;
}

/* If you're looking for the table stuff, that is now generalised in layout.css */

.routeButton {
    background: rgb(53, 53, 53);
    color: white;
    margin-right: 1.2em;
    margin-top: 1em;
    float: right;
    padding: 0.5em;
}

.imgMarkup {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/* overview cars my profile */
.carImage {
    width: 160px;
    height: 105px;
    position: absolute;
    border-right: solid 1px gray;
    padding-right: 4em;
}

#carsOverview {
    margin-bottom: 2.5em;
    padding-bottom: 5em;
    position: relative;
    cursor: pointer;
}

#carsOverview:hover {
    background-color: rgba(238, 238, 238, 0.09);
}

#carSpecs {
    position: relative;
    margin-left: 18em;
    color: white;
}

#carField {
    float: left;
    margin: 1em;
    border: solid 1px gray;
    width: 73.5em;
    height: 485px;
    position: relative;
}

#tabsMyProfile {
    float: right;
    border-left: solid 1px gray;
}

#tabsMyProfile .tab {
    font-size: 1.6rem;
    float: right;
    margin-left: 3em;
    cursor: pointer;
}

/* add icon my profile page */
.addIcon {
    height: 15px;
    width: 15px;
    margin-right: 1em;
    margin-left: 1em;
}

.addTextProfile {
    color: white;
    cursor: pointer;
    border-top: solid 1px gray;
    padding: 1em 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0 0 0 -1em;
}

.addTextInfoProfile {
    color: white;
    cursor: pointer;
    padding: 0.2em 0;
    bottom: 0px;
    width: 100%;
}

.noUnderline {
    text-decoration: none;
}

.changePasswordIcon, .resetPasswordIcon {
    height: 15px;
    width: 15px;
    margin-right: 1em;
    margin-left: 0;
}

.profilemiddle {
    padding: 1em;
}

#passwordActions {
    margin-top: 200px;
    border-top: solid 1px gray;
}

#profileTrajecten {
    position: relative;
    color: #FFFFFF;
}

#profileTrajecten .loadingoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #353535;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    padding: 10em;
}

#profileTrajecten table img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(59, 150, 206);
    background: #FFFFFF;
}

#profileTrajecten h4:first-child {
    margin-top: 0;
}

#profileTrajecten button.positive {
    background: #ffffff;
    border: 1px solid #ccc;
    color: rgb(53, 53, 53);
    padding: 12px 5px 8px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

#profileTrajecten button.negative {
    background: #ffffff;
    border: 1px solid #ccc;
    color: #aaaaaa;
    padding: 12px 5px 8px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

.myRoutes table td.details, #profileTrajecten table td.details {
    background: url(../img/search/openIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    background-position: center center;
    cursor: pointer;
}

#profileTrajecten table tr.nodata {
    font-style: italic;
    text-align: center;
}

.tableNavigation {
    text-align: right;
}

.tableNavigation button {
    margin: 0 10px;
}

.activeTab {
    display: inline;
    border-bottom: 3px solid rgb(59, 150, 206);
    float: left;
    margin: 0;
}
