/* filtering left on the page */
#filters {
    margin-left: 1em;
    float: left;
}

.filterIcon {
    width: 8em;
    height: 7.8em;
    border-radius: 10px;
    margin-top: 1em;
    cursor: pointer;
}

#searchOptions {
    color: white;
    float: left;
    margin-left: 2em;
    border: solid 1px gray;
    width: 86%;
    height: 480px;
    margin-top: 1em;
}

/* date picker styling */
.well-sm {
    padding: 10px;
    border-radius: 3px;
    color: rgb(56, 56, 56);
}

/* different blocks styling */
#dateBlock {
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 10em;
    height: 450px;
}

#timeBlock {
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}

#radiusBlock {
    float: left;
    margin-left: 1em;
    margin-top: 2em;
}

#datePickerModel {
    display: inline-block;
    min-height: 290px;
    float: left;
    margin-top: 1em;
}

#myTimeModel, #myRadiusModel {
    float: left;
}


/* user specs */
#userSearchOptions{
    margin: 1em;
}
#ageBlock{
    margin-top: 1em;
}
.smokingSearchClass{

}
#smokerSearch, #noSmokerSearch{
    width: 10em;
    height: 10em;
}


input{
    color:black !important;
}
input[type=radio]{
    margin-right: 4px;
}
#noSmokerRadio{
    margin-left: 1em;
}



#map-canvasSearch {
    height: 480px;
    /*width: 96%;*/
    /*margin-left: 1em;*/
    margin-top: 0em;

}

#noSmoker, #smoker, #male, #female{
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin-right: 1em;
    margin-top: 1em;
}
.selectedSmoking, .selectedGender{
    background: rgba(250,250,250,0.3);
}


