body {
    background-image: url('../img/road.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

#inline {
    float: right;
    margin-right: 1em;
    width: 74%;
    height: 690px;
    margin-top: 1em;
    background-color: rgba(100, 100, 100, 0.2);
    padding: 0em 1em 1em 1em;
    border: solid 1px white;
}

#title {
    padding-top: 1px;
    border-bottom: solid 1px white;
    font-size: 26px;
}

/*
#selectWagen, #aantal {
    float: right;
    margin-top: -3em;
    margin-right: 12em;
    width: 20%;
    /*background-color: rgba(100,160,220,0.8);
    color: white;
}
*/

#next {
    opacity: 0.8;
    width: 75px;
    height: 100px;
    position: absolute;
    bottom: 2.5em;
    right: 2.5em;
    background-size: cover;
    background-image: url('../img/pijlRechts.jpg');
}

/*
#uur {
    position: absolute;
    right: 22em;
    top: 16.5em;
    width: 40px;
}

#minuut {
    position: absolute;
    right: 18em;
    top: 16.5em;
    width: 40px;
}
*/

#controls {
    margin-top: 1em;
    width: 70%;
}

.controls {
    width: 88%;
}

#btnSend {
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    width: 10%;
}

#map-canvas {
    height: 85%;
    margin-top: 1em;

}

#menu {
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 706px;
    border: solid 1px white;
}

/* Popup */

#overlay {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}

#formPopup {
    position: relative;
    margin: 100px auto;
    width: 500px;
/*    height: 500px; */
    background-color: lightgray;
}

#formPopup section {
    border-bottom: 1px dashed white;
    margin-top: 10px;
}

/* carPicker  */

#carList {
    height: 150px;
    border: 1px dotted white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#carList img {
    max-height: 100%;
}

/* numberOfPlaces */

/* startDatePicker (input.datePicker) */

/* repeating */

#days span {
    display: block;
    border: 1px solid black;
    float: left;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
}

#hours {
    clear: both;
    float: left;
}

#addHours {
    float: left;
}

/* Final submit button */

#finalAdd {
    clear: both;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 2em;
    line-height: 2em;
    font-size: x-large;
    cursor: pointer;
}

/*--------*/

#col1, #col2 {
    border: 0px solid #000;
    width: 47%;
    float: left;
}

#col1 {
    text-align: right;
    margin-right: 6%;
    /*width: 60%*/

}
#col2 {
    text-align: left;
    /*width: 35%*/
}

#col1 p, #col2 p {
    height: 1.5em;
    /*border-top: 1px solid #000;
    border-bottom: 1px solid #000;*/
    line-height: 1.5em;
}