<!DOCTYPE html>
<html ng-app="cpa">
<head>
    <title>Carpool</title>

    <!--<script src="lib/jquery/jquery-1.10.2.js"></script>-->

    <script src="lib/angular/angular.js"></script>
    <!--<script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-route.js"></script>-->
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="lib/angularui-router/angular-ui-router.min.js"></script>

    <!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="lib/angularui-bootstrap/ui-bootstrap-custom-0.10.0.js"></script>
    <script src="lib/angularui-bootstrap/ui-bootstrap-custom-tpls-0.10.0.js"></script>-->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="lib/reset/reset.css" />

	<!--<script src="js/services.js"></script>
    <script src="js/services/api.js"></script>
    <script src="js/services/routeUrls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>-->

    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAA-HYNltNyRvpiFBmkqbUD5SlJrJud_xo&sensor=false&libraries=places,geometry"></script>
-->
	
	<script src="js/setup.js"></script>
	<script src="js/services/api.js"></script>
	<script src="js/services/pageAccess.js"></script>
	<script src="js/services/auth.js"></script>
	<script src="js/controllers/LoginCtrl.js"></script>
	<script src="js/controllers/RegisterCtrl.js"></script>
	<script src="js/controllers/ResetPasswordCtrl.js"></script>
	<script src="js/controllers/ChangePasswordCtrl.js"></script>
	<script src="js/app.js"></script>
	
	<link rel="stylesheet" href="css/layout.css"/>
	
    <!--<link rel="stylesheet" href="css/myProfile.css" type="text/css" />
    <link rel="stylesheet" href="css/addRoute.css" type="text/css" />
    ORIGINAL PLACE OF LAYOUT
    <link rel="stylesheet" href="css/login.css" type="text/css" />
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <link rel="stylesheet" href="css/changeCar.css" type="text/css" />
    <link rel="stylesheet" href="css/search.css" type="text/css" />
    <link rel="stylesheet" href="css/inbox.css" />
    <link rel="stylesheet" href="css/changeResetPwd.css" />
    <link rel="stylesheet" href="css/addCar.css" />-->
</head>
<body>
	<header>
		<nav>
			<ul ng-if="auth.isGuest()">
				<cpa-menu-item state="login" text="Aanmelden" link-id="login"></cpa-menu-item>
				<cpa-menu-item state="register" text="Registreren" link-id="register"></cpa-menu-item>
				<cpa-menu-item state="resetPassword" text="Wachtwoord vergeten" link-id="resetPassword"></cpa-menu-item>
				<!-- <li ui-sref-active="active"><a ui-sref="login">Log in</a></li>
				<li ui-sref-active="active"><a ui-sref="register">Registreer</a></li>
				<li ui-sref-active="active"><a ui-sref="resetPassword">Wachtwoord vergeten</a></li>-->
			</ul>
			<ul ng-if="auth.isMember()">
				<cpa-menu-item state="myProfile" text="Mijn profiel" link-id="myProfile"></cpa-menu-item>
				<cpa-menu-item state="dummy" text="Zoek carpoolers" link-id="search"></cpa-menu-item>
				<cpa-menu-item state="myProfile.changePassword" text="Verander wachtwoord" link-id="changePassword"></cpa-menu-item>
				
				<cpa-menu-item state="dummy" text="Afmelden" link-id="logout" item-class="last"></cpa-menu-item>
				<cpa-menu-item state="dummy" text="Berichten" link-id="inbox" item-class="last"></cpa-menu-item>
				<!-- <li ui-sref-active="active" ng-class="{ active: $state.includes('myProfile.*')}"><a ui-sref="myProfile">Mijn profiel</a></li>
				<li ui-sref-active="active"><a>Zoek carpoolers</a></li>
				<li ui-sref-active="active"><a>Verander wachtwoord</a></li>
				
				<li class='last' ui-sref-active="active"><a>Logout</a></li>
				<li class="last" ui-sref-active="active"><a id="inbox">Inbox</a></li> -->
			</ul>
		</nav>
	</header>
	<div class="wrapper" ui-view></div>
</body>
</html>