<script type="text/javascript">
    function getFileData() {
        // var fr = new FileReader();
        var file = document.getElementById('image').files[0];
        /*var result = document.getElementById('imgResult');
        fr.onload = function() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://example.com");
            xhr.send(fr.result);
        }
        fr.readAsDataURL(file); */
        var data = new FormData();
        data.append("file", file);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:8080/BackEnd/authorized/user/car/1/uploadphoto");
        xhr.send(data);
    }

</script>

<section id="inline">
	<section id="addcardata">
    <form method="get" id="addcarform">
        <label>Merk<input type="text" id="brand"></label><br>
        <label>Model<input type="text" id="type"></label><br>
        <label>Brandstoftype
        <select id="fueltype">
            <option value="DIESEL">Diesel</option>
            <option value="SUPER95">Super 95</option>
            <option value="SUPER98">Super 98</option>
        </select>
        </label><br>
        <label>Verbruik<input type="text" id="consumption">l/100km</label><br>
        <input type="submit" id="submit" value="Add" /><br />
        <span id="error"></span>
    </form>
	</section>
	<section id="addcarimage">
		<input type="file" id="image" />
		<button id="upload">Upload</button>
		<button id="cancel">Cancel</button>
		<div id="imgpreview" />
		<span id="error"></span>
	</section>
</section>

        <!-- var file = $("#control").attr("files")[0];
    var fileName = file.fileName;
    var fileSize = file.fileSize;

    alert("Uploading: "+fileName+" @ "+fileSize+"bytes"); -->
