
<script src="js/controllers/addCarCtrl.js"></script>
<section id="addCar" class="mainSite" ng-controller="addCarCtrl">
    <header>
        <h3>Voeg een auto toe</h3>
    </header>
    <form id="driver-cardata" ng-submit="cdSubmit()" ng-show="getNgShow(2)" name="cdForm" novalidate>
        <h4>Autogegevens</h4>

        <div>
            <label for="brand">Merk</label>
            <input ng-model="cdBrand" type="text" id="brand" name="brand" ng-required="true"/>
        </div>
        <div>
            <label for="type">Model</label>
            <input ng-model="cdType" type="text" id="type" name="type" ng-required="true"/>
        </div>
        <div>
            <label for="fueltype">Brandstoftype</label>
            <select ng-model="cdFueltype" id="fueltype" name="fueltype" ng-required="true">
                <option value="DIESEL">Diesel</option>
                <option value="SUPER95">Super 95</option>
                <option value="SUPER98">Super 98</option>
            </select>
        </div>
        <div>
            <label for="consumption">Verbruik</label>
            <input ng-model="cdConsumption" type="text" id="consumption" name="consumption" ng-required="true" placeholder="0.0" ng-pattern="/([0-9]+)\.([0-9]+)/"/>
            <span class="afterInputText">l/100km</span>
        </div>

        <div class="bottom">
            <span class="error" ng-show="cdForm.$error.required">Gelieve alle velden in te vullen.</span>
            <span class="error" ng-show="cdForm.$error.unknown">Er is een onbekende error opgetreden.</span>
            <span class="error" ng-show="cdForm.consumption.$error.pattern">Gelieve het formaat "X.Y" na te leven.</span>

            <input type="submit" value="Toevoegen" ng-disabled="cdInProgress" name="submit" />
            <div class="clear"></div>
        </div>
    </form>
    <form id="carimageform" ng-show="getNgShow(3)" name="ciForm">
        <h4>Autofoto</h4>

        <div>
            <input type="file" ng-file-model="ciFile" name="file" />
        </div>
        <div id="ciPreview" class="imageUploadPreview" ng-show="ciReady">
            <img ng-src="{{getCiUrl()}}" alt="Your car" width="100%" />
        </div>

        <div class="bottom">
            <span class="error" ng-show="ciForm.$error.carnotfound">De auto kon niet gevonden worden.</span>
            <span class="error" ng-show="ciForm.$error.carnotyours">Deze auto is niet van u.</span>
            <span class="error" ng-show="ciForm.file.$error.uploading">Er is een fout opgetreden tijdens het uploaden van de afbeelding.</span>
            <span class="error" ng-show="ciForm.$error.unknown">Er is een onbekende error opgetreden.</span>
            <span class="error" ng-show="ciForm.$error.removingUnknown">Er is een fout opgetreden tijdens het verwijderen van de afbeelding.</span>

            <input type="submit" value="Upload" name="submit" ng-show="!ciReady" ng-click="ciUpload()" ng-disabled="ciInProgress" />
            <input type="reset" value="Overslaan" name="skip" ng-show="!ciReady" ng-click="ciContinue()" ng-disabled="ciInProgress" />
            <input type="submit" value="Ga door" name="continue" ng-show="ciReady" ng-click="ciContinue()" ng-disabled="ciInProgress" />
            <input type="reset" value="Cancel" name="cancel" ng-show="ciReady" ng-click="ciCancel()" ng-disabled="ciInProgress" />
            <div class="clear"></div>
        </div>
    </form>
</section>