<script src="js/controllers/addRouteCtrl.js"></script>

<script src="js/addRoute.js"></script>
<script src="lib/jquery/jquery-1.10.2.js"></script>

<section id="inline" ng-controller="addRouteCtrl" onclick="focus()">

    <section id="title"><h1 onclick="document.getElementById('txtStart').focus()">Route toevoegen</h1></section>


    <div id="controls">
        <input id="txtStart" class="controls" type="text" placeholder="Geef beginpunt in."><br>
        <input id="txtEnd" class="controls" type="text" placeholder="Geef eindpunt in.">
        <button id="btnSend">Leg route vast</button>
        <img id="addPassagePoint" class="addIcon" src="../app/img/profilePage/addIcon.png">
        <!-- TODO: style button -->
    </div>
    <!--bij ingeven van stad, stad tonen op google map en bij klikken op map marker plaatsen en opslagen -->

    <div id="map-canvas"></div>
</section>

<div id="overlay" >
    <div id="darkOverlay"></div>
    <div id="cssCenterTrick">
        <section id="formPopup">
            <section id="carPicker">
                Kies uw wagen
                <div id="carList">
                    <img alt="auto" src="tmpfiles/delorean.jpg" data-index="0">
                    <img alt="auto" src="tmpfiles/shelby.jpg" data-index="1" id="selectedCar">
                </div>
            </section>
            <section id="numberOfPlaces">
                Aantal vrije plaatsen in de wagen
                <div id="placePicker">
                    <span id="placeMinus">-</span>
                    <input type="text" id="placeNumber" value="1" size="1"/>
                    <span id="placePlus">+</span>
                </div>
            </section>
            <section id="sDatePicker">
                <input id="startDatePicker" class="datePicker" type="date">
            </section>
            <section id="repeating">
                Herhalend?
                <input type="checkbox" id="repeatBox" ng-model="repeatBox">
            </section>
            <section id="repeatingDays" ng-show="repeatBox">
                <table id="days">
                    <tr>
                        <th></th>
                        <th><label><input value="Mo" type="checkbox">Ma</label></th>
                        <th><label><input value="Tu" type="checkbox">Di</label></th>
                        <th><label><input value="We" type="checkbox">Wo</label></th>
                        <th><label><input value="Th" type="checkbox">Do</label></th>
                        <th><label><input value="Fr" type="checkbox">Vr</label></th>
                        <th><label><input value="Sa" type="checkbox">Za</label></th>
                        <th><label><input value="Su" type="checkbox">Zo</label></th>
                    </tr>
                </table>

                <button onclick="addTime()">Toevoegen</button>
            </section>
            <section id="locations">



            </section>
            <section id="eDatePicker">
                <input id="endDatePicker" class="datePicker" type="date">
            </section>
            <section id="times">
                <input type="text" id="depTime" placeholder="9:00">
                tot
                <input type="text" id="arrTime" placeholder="17:00">
            </section>
            <section id="finalAdd">
                <type type="button" onclick="submitAllData()">Toevoegen</type>
                <type type="button" onclick="cancelRoute()">Cancel</type>
            </section>

            <!--
                    <div id="col1">
                        <p>Met welke wagen wilt u deze route rijden?</p>

                        <p>Hoeveel personen kunnen er meerijden?</p>

                        <p>Wat zijn de tijdstippen van vertrek?</p>


                    </div>
                    <div id="col2">
                        <p><select id="selectWagen">
                            <option value="wagen1">Wagen 1</option>
                            <option value="wagen2">Wagen 2</option>
                        </select>
                        </p>

                        <p>
                            <input type="number" min="1" value="1" step="1" id="aantal">
                        </p>

                        <p>
                            <input type="number" min="0" max="23" value="0" step="1" id="uur">
                            <input type="number" min="1" max="59" value="0" step="1" id="minuut">
                        </p>
                    </div>

                    <input type="radio" name="type" value="eenmalig" checked>Eenmalig
                    <input type="radio" name="type" value="herhalend">Herhalend
                    -->

        </section>
    </div>
</div>