<script src="js/controllers/changeRouteCtrl.js"></script>
<section id="changeRoute" class="mainSite" ng-controller="changeRouteCtrl">
    <!-- <div class="loadingoverlay" ng-show="isLoading">Loading...</div> -->
    <header>
        <h3>Routes van {{route.chauffeur.name}}</h3>
        <ul id="tablist">
            <!--<li ng-click="changeTab('car')">Auto</li>-->
            <li ng-repeat="wdr in route.weekdayroutes" ng-click="changeTab(wdr.num)" ng-class="{active : activeTab==wdr.num}">{{getWeekdayL10n(wdr.num)}}</li>
            <!-- <li ng-click="">+</li> -->
        </ul>
        <br class="clear" />
    </header>
    <form name="trajectrequest">
        <div id="tabgroup">
            <!-- <div class="tab" ng-show="activeTab=='car'">
                <p class="carinfo decoratedinfo">
                    <img ng-src="{{getCarImageUrl(route.car.image)}}" alt="{{route.car.brand}} {{route.car.model}}" />
                    <span class="driver">{{route.chauffeur.name}}</span>
                    rijdt met een <span class="carname">{{route.car.brand}} {{route.car.type}}</span>.
                    Deze auto rijdt op <span class="fueltype">{{getFueltypeL10n(route.car.fueltype)}}</span>
                    en verbruikt <span class="consumption">{{route.car.consumption}}L/km</span>.
                    <br /><br />
                    Deze route zal gereden worden van <span class="startdate">{{getDateL10n(route.startDate)}}</span>
                    tot <span class="enddate">{{getDateL10n(route.endDate)}}</span>
                    op <span class="weekday">{{getWeekdayL10n(wdr.num)}}</span>.
                    <br class="clear" />
                </p>
            </div> -->
            <div class="tab" ng-repeat="wdr in route.weekdayroutes" ng-show="activeTab==wdr.num">
                <div class="leftpane">
                    <table class="passages general color">
                        <thead><tr>
                            <td>#</td>
                            <td>Adres</td>
                            <td>Tijd</td>
                            <td>Acties</td>
                        </tr></thead>
                        <tbody><tr ng-repeat="passage in wdr.passages">
                            <td>{{passage.seqnr}}</td>
                            <td>{{passage.address}}</td>
                            <td><input type="text" ng-model="passage.time"></td>
                            <td><button ng-click="addChange('delPT', $index, $parent.$index)">Delete</button></td>
                        </tr></tbody>
                        <tfoot><tr>
                            <td>#</td>
                            <td>Adres</td>
                            <td>Tijd</td>
                            <td>Acties</td>
                        </tr></tfoot>
                    </table>
                    <span class="error" ng-show="error.bothrequired">U moet zowel een ophaalpunt als een afzetpunt selecteren.</span>
                    <span class="error" ng-show="error.sequence">Het afzetpunt moet na het ophaalpunt liggen.</span>
                    <span class="error" ng-show="error.capacity">Helaas is er op het traject dat u koos niet voldoende capaciteit meer.</span>
                    <span class="error" ng-show="error.unknown">Er trad een fout op. Probeer later opnieuw.</span>
                    <p>Wijzigingen gaan in vanaf <input type="date" ng-model="changeDate" /></p>
                    <p><input type="submit" ng-click="submitChanges()" name="submit" value="Verstuur wijzigingen" /></p>
                </div>
                <div class="rightpane">
                    <div id="map-canvas-{{wdr.num}}" class="map-canvas">
                        <cpa-gmap markers="wdr.markers" class="map-wrapper" is-shown="shouldShowTab(wdr.num)"></cpa-gmap>
                    </div>
                </div>
                <br class="clear" />
            </div>
        </div>
        <!-- <div id="rightpane">
            <p>Wijzigingen gaan in vanaf <input type="date" ng-model="changerDate" /></p>
            <h4>Changes</h4>
            <p ng-repeat="change in changes">{{change.text}}</p>
            <button>Verstuur wijzigingen</button>
        </div> -->
    </form>
</section>