<section id="inline">
    <section id="changePwdForm">
        <label>Huidig wachtwoord: <input name="currentPass" type="password" ng-model="oldpwd"></label>
        <label>Nieuw wachtwoord: <input name="oldPass1" type="password" ng-model="newpwd1"></label>
        <label>Herhaal wachtwoord: <input name="oldPass2" type="password" ng-model="newpwd2"></label>
        <section class="error" ng-hide="hideError" name="errorMessage">
            {{ error }}
        </section>
        <button name="changePasswordButton" ng-click="changePwd()">Verzenden</button>
    </section>
    <section name="message" class="message" ng-hide="hideMessage">
        {{ message }}
    </section>
</section>