<section id="inline" class="mainSite">
    <header>
        <h1>Wachtwoord veranderen</h1>
    </header>
    <form ng-submit="PasswordSubmit()" novalidate>
    	<div class="inner">
    		<p>
				<label for="current">Huidig wachtwoord</label>
				<input type="password" id="current" name="current" ng-model="oldpwd" ng-required="true"/>
			</p>
			<p>
				<label for="new">Nieuw wachtwoord</label>
				<input type="password" id="new" name="new" ng-model="newpwd1" ng-required="true"/>
			</p>
			<p>
				<label for="repeat">Herhaal wachtwoord</label>
				<input type="password" id="repeat" name="repeating" ng-model="newpwd2" ng-required="true"/>
			</p>
    	</div>
    	
		<footer>
		    <p ng-show="messages.Success">Wachtwoord is succesvol aangepast.</p>
		    <p class="error" ng-show="errors.OldPasswordWrong">Het oude wachtwoord is onjuist.</p>
		    <p class="error" ng-show="errors.Format">Wachtwoord formaat is verkeerd, 1 Hoofdletter, 1 kleine letter en tussen de 7 en 30 lang.</p>
		    <p class="error" ng-show="errors.Unavailable">Onze service is niet beschikbaar, vul alle velden zeker in.</p>
			<p class="error" ng-show="errors.NewNotEqual">Wachtwoorden komen niet overeen.</p>
		    <p>
				<input type="submit" value="Verander wachtwoord" ng-disabled="cdInProgress" name="submit" />
				<div class="clear"></div>
		    </p>
		</footer>
	</form>
</section>