<script src="js/controllers/changePasswordCtrl.js"></script>
<section id="inline" ng-controller="changePasswordCtrl" class="mainSite" cpa-dve-user-access-v1="MEMBER">
    <header>
        <h3>Verander je huidige wachtwoord</h3>
    </header>
    <form id="passwordData" ng-submit="PasswordSubmit()" name="cdForm" novalidate>
            <h4>Paswoord gegevens</h4>

            <div>
                <label for="current">Huidig wachtwoord</label>
                <input type="password" id="current" name="current" ng-model="oldpwd" ng-required="true"/>
            </div>
            <div>
                <label for="new">Nieuw wachtwoord</label>
                <input type="password" id="new" name="new" ng-model="newpwd1" ng-required="true"/>
            </div>
            <div>
                <label for="repeat">Herhaal wachtwoord</label>
                <input type="password" id="repeat" name="repeating" ng-model="newpwd2" ng-required="true"/>
            </div>

            <div class="bottom">
                <span ng-hide="hideMessage" name="message">{{message}}</span>
                <span class="error"  name="errorMessage" ng-hide="hideError">{{error}}</span>

                <input type="submit" value="Verander wachtwoord" ng-disabled="cdInProgress" name="submit" />
                <div class="clear"></div>
            </div>
        </form>

    <!--section id="changePwdForm">
        <label>Huidig wachtwoord: <input name="currentPass" type="password" ng-model="oldpwd"></label><br/>
        <label>Nieuw wachtwoord: <input name="oldPass1" type="password" ng-model="newpwd1"></label><br/>
        <label>Herhaal wachtwoord: <input name="oldPass2" type="password" ng-model="newpwd2"></label><br/>
        <section class="error" ng-hide="hideError" name="errorMessage">
            {{ error }}
        </section><br/>
        <button name="changePasswordButton" ng-click="changePwd()">Verzenden</button><br/>
    </section>
    <section name="message" class="message" ng-hide="hideMessage">
        {{ message }}
    </section-->
</section>