<script src="js/controllers/changeRemoveCarCtrl.js"></script>
<form id="inline" ng-controller="changeRemoveCarCtrl">
    <section id="carName">Wijzig alle specificaties of verwijder de wagen ({{carChange}})</section>
    <section id="carProfile">
        <div>
            <label>Naam:</label>
            <input type="text" name="nameCar" value="{{carBrand}}" id="carNameInput"/>
        </div>
        <div>
            <label>Type:</label>
            <input type="text" name="typeCar" value="{{carType}}" id="carType"/>
        </div>
        <label>Brandstof:</label>
        <input type="radio" name="fuel" value="SUPER95" id="super95"/>SUPER95
        <input type="radio" name="fuel"
               value="SUPER98" id="super98"/>SUPER98
        <input
                type="radio" name="fuel"
                value="DIESEL" id="diesel"/>DIESEL<br/>

        <div>
            <label>Verbruik: </label>
            <input type="number" step="any" min="1" max="30" name="ConsumptionCar" value="{{carConsumption}}"
                   id="carConsumption"/>
        </div>

        <section id="addcarimage">
            <label>Voeg foto toe:</label>
            <input type="file" id="image"/>
            <button id="upload">Upload</button>
            <button id="cancel">Cancel</button>
            <div id="imgpreview"/>
        </section>

        <button ng-click="changeCarSpecs()">Wijzig</button>
        <button ng-click="deleteCar()">Verwijder</button>

        </div>
    </section>
</form>