<section id="inline" class="mainSite">
    <section id="infoprofile">
        <section id="profileName">
        	<span id="profileheader">{{type}}</span>
        	<a class="pagingIcon" id="inboxPagePrev" ng-click="page.goPrev()" ng-class="{disabled: !page.canPrev}">&nbsp;</a>
            <span>{{pageManagement.current}}</span>
            <a class="pagingIcon" id="inboxPageNext" ng-click="page.goNext()" ng-class="{disabled: !page.canNext}">&nbsp;</a>

            <img id="newMessage" src="../app/img/newMessage.png" ng-click="sendNewMessage()"/>
            <section id="tabsMyProfile">
                <div id="tabSend" name="sendClick" class="tab" ng-click="tabSendClick()">Verzonden berichten</div>
                <div id="tabInbox" name="inboxClick" class="tab" ng-click="tabInboxClick()">Inbox</div>
            </section>
        </section>

    </section>

    <div id="noMessages" ng-show="page.pageIsEmpty">Je hebt geen berichten.</div>

    <section id="sendField" ng-if="!hideSend">
        <table class="messageTable">
            <tr class="clickMessage" ng-repeat="sendMessage in page.page" ng-click="openDetails(sendMessage, 'send')">
                <td class="readStatus" ng-class="{unread:!sendMessage.read}">&nbsp;</td>
                <td class="subject">{{sendMessage.messageSubject}}</td>
                <td class="contact">{{sendMessage.receiverUsername}}</td>
            </tr>
        </table>
        <section class="messageField" ng-hide="hideMessage">
            <div name="messageFieldHeader" class="messageHead">Title: {{subjectO}}</div>
            <div class="mailInformation">
                <label name="sendername" class="hideSender">Van: {{sender}}</label>
                <label name="receivername" class="hideReceiver">Aan: {{receiver}}</label>
            </div>
            <section class="messageBody">
                {{messageBody}}
            </section>
        </section>
    </section>

    <section id="recieveField" ng-if="!hideRecieve">
        <table class="messageTable">
            <tr class="clickMessage" ng-repeat="recieveMessage in page.page" ng-click="openDetails(recieveMessage, 'recieve')">
                <td class="readStatus" ng-class="{unread:!receiveMessage.read}"></td>
                <td class="subject">{{recieveMessage.messageSubject}}</td>
                <td class="contact">{{recieveMessage.senderUsername}}</td>
            </tr>
        </table>
        <section class="messageField" ng-hide="hideMessage">
            <div name="messageHeader" class="messageHead">Title: {{subjectO}}</div>
            <div class="mailInformation">
                <label class="hideSender">Van: {{sender}}</label>
                <label class="hideReceiver">Aan: {{receiver}}</label>
            </div>
            <section class="messageBody">
                {{messageBody}}
            </section>
            <p><a ng-click="replyMessage(detailMsg)">Reply</a></p>
        </section>
    </section>


    <section id="overlay" ng-click="clickOverlay()">
        <div id="darkOverlay"></div>
        <div id="cssCenterTrick">
            <section id="formPopup" ng-click="clickFormpopup()">
                <div class="newMessage">
                    <label>Aan: <input id="recieverInputField" type="text" ng-model="recieverName" /></label>
                </div>
                <div class="newMessage">
                    <label>Van: {{sender}}</label>
                </div>
                <div class="newMessage">
                    <label>Onderwerp: <input id="subjectInputField" type="text" ng-model="subject" /></label>
                </div>
                <textarea id="mBodyTextarea" ng-model="mBody" maxlength="255" placeholder="Type hier je bericht..."></textarea>
                <section id="finalAdd">
                    <type name="SendMessageButton" type="button" ng-click="sendMessageToUser()">Verstuur</type>
                </section>
            </section>
        </div>
    </section>
</section>

