<section id="inline">
    <section id="infoprofile">
        <section id="profileName">Welkom, {{personname}}<img id="gender" ng-src={{gendersrc}}></section>
        <div id="blockLeft">
            <img id="avatar" alt="avatar user" ng-src={{avatarsrc}}>
            <section id="infoUser">
                <ul>
                    <li class="info">{{username}}</li>
                    <li class="info">
                        {{dateBirth}}
                    </li>
                    <li class="info">{{smoker}}</li>

                    <table class="ritTable">
                        <tr class="tableTitles">
                            <td>
                                Type
                            </td>
                            <td>
                                Consumption
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr ng-repeat="car in cars">
                            <td>{{car.brand}} {{car.type}}</td>
                            <td>{{car.consumption}}</td>

                            <td><img class="imgMarkup" alt="remove car" img ng-click="removeCar(car.carId)" src="../app/img/profilePage/removeCross.png"></td>
                        </tr>
                    </table>
                </ul>
            </section>
        </div>
        <div class="blockRight">
            <table class="ritTable">
                <tr class="tableTitles">
                    <td>
                        Vertrek
                    </td>
                    <td>
                        Bestemming
                    </td>

                </tr>
                <tr>
                    <td>
                        Fort verboomstraat 32, 9130 Kieldrecht
                    </td>
                    <td>
                        Nationalestraat 22, 2000 Antwerpen
                    </td>
                    <td>
                        <img class="imgMarkup" alt="remove car" ng-src="../app/img/profilePage/editPencil.png"></td>
                    </td>

                </tr>
            </table>

            <button class="routeButton">Voeg route toe</button>
            <button class="routeButton">Wijzig route</button>
        </div>

        <div id="myRoutes">
            <table class="routeTable">
                <tr id="routeTableTitles">
                    <td>
                        Vertrek
                    </td>
                    <td>
                        Bestemming
                    </td>
                    <td>
                        Aantal personen
                    </td>
                    <td>
                        herhalend
                    </td>
                </tr>
                <tr>
                    <td>
                        Fort verboomstraat 32, 9130 Kieldrecht
                    </td>
                    <td>
                        Nationalestraat 22, 2000 Antwerpen
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        Nee
                    </td>
                </tr>
            </table>
            <a href="index.html#/addRouteMap">
                <button class="routeButton">Voeg route toe</button>
            </a>
            <button class="routeButton">Wijzig route</button>
        </div>

        <div class="blockRight" id="trajects">
            <table class="trajectTable">
                <tr class="tableTitles">
                    <td>
                        Vertrek
                    </td>
                    <td>
                        Bestemming
                    </td>
                    <td>
                        Pick-up(s)
                    </td>
                    <td>
                        Drop-off(s)
                    </td>
                </tr>
                <tr>
                    <td>
                        Fort verboomstraat 32, 9130 Kieldrecht
                    </td>
                    <td>
                        Nationalestraat 22, 2000 Antwerpen
                    </td>
                    <td>
                        <li>Molenstraat 10, 9130 Kieldrecht</li>
                        <li>Kieldrechtsebaan 55, 9130 Verrebroek</li>
                    </td>
                    <td>
                        <li>Nationalestraat 22, 2000 Antwerpen</li>
                    </td>
                </tr>
            </table>
            <button class="routeButton">Voeg route toe</button>
            <button class="routeButton">Wijzig route</button>
        </div>
    </section>
</section>
