<script src="js/controllers/myProfileCtrl.js"></script>
<section id="inline" ng-controller="myProfileCtrl">
    <section id="infoprofile">
        <section id="profileName"><span id="profileheader">Welkom, {{personname}}</span><img id="gender" ng-src={{gendersrc}}> ({{username}})
            <section id="tabsMyProfile">
                <div class="tab" ng-click="tabRoutesClick()">Routes</div>
                <div class="tab" ng-click="tabTrajectsClick()">Trajecten</div>
                <div class="tab" ng-click="tabCarsClick()">Auto's</div>
            </section>
        </section>
        <div id="blockLeft">
            <img id="avatar" alt="avatar user" ng-src={{avatarsrc}}>
            <section id="infoUser">
                <ul>
                    <li class="info">
                        {{formatDate(dateBirth)}}
                    </li>
                    <li class="info">{{smoker}}</li>
                </ul>

    </section>
</div>

<!--div id="carsBlock">
    <table id="carsTable">

        <tr ng-repeat="car in cars">
            <td><img id="carImage" alt="{{car.brand}}" ng-src="../app/img/avatar.JPG"/></td>
            <td>{{car.brand}} {{car.type}}</td>
            <td>{{car.consumption}}</td>

            <td><img class="imgMarkup" alt="remove car" img ng-click="removeCar(car.carId)"
                     src="../app/img/profilePage/removeCross.jpg"></td>
        </tr>
    </table>
</div-->
<section id="carField" class="profilemiddle" ng-hide="hideCars">
    <section id="carsOverview" ng-repeat="car in cars" ng-click="clickCar(car)">
        <img id="carImage" alt="{{car.brand}}"
             ng-src="http://localhost:8080/BackEnd/carImages/{{car.photoUrl}}"/>
        <section id="carSpecs">
            <span class="brand">{{car.brand}}</span><br/><span class="consumption">{{car.consumption}}</span>
        </section>
    </section>
    <a name="addCarLink" href="http://localhost:8080/frontend/app/index.html#/addCar">
        <section class="addTextProfile"><img class="addIcon" src="../app/img/profilePage/addIcon.png"/>{{addText}}
        </section>
    </a>
</section>


<section class="myRoutes profilemiddle" ng-hide="hideRoutes">
    <table id="routes" class="general blackwhite">
        <thead><tr>
            <td> </td>
            <td>Vanaf</td>
            <td>Tot</td>
            <td>Herhalend</td>
            <td>Vertrek</td>
            <td>Bestemming</td>
            <td>Dag</td>
        </tr></thead>
        <tbody><tr ng-repeat="route in routes">
            <td class="details" ng-click="goRoute(route.id,route.day)"> </td>
            <td>{{formatDateString(route.startDate)}}</td>
            <td>{{formatDateString(route.endDate)}}</td>
            <td>{{booleanL10n(route.repeating)}}</td>
            <td>{{route.startPlace}}</td>
            <td>{{route.endPlace}}</td>
            <td>{{getWeekdayL10n(route.day)}}</td>
        </tr></tbody>
        <tfoot><tr>
            <td> </td>
            <td>Vanaf</td>
            <td>Tot</td>
            <td>Herhalend</td>
            <td>Vertrek</td>
            <td>Bestemming</td>
            <td>Dag</td>
        </tr></tfoot>
    </table>
    <p class="addTextProfile" ng-click="goAddRoute()"><img class="addIcon" src="../app/img/profilePage/addIcon.png"/>Voeg route toe</p>
</section>


<div class="blockRight">
    <table class="ritTable general blackwhite">
        <thead><tr class="tableTitles">
            <td>
                Vertrek
            </td>
            <td>
                Bestemming
            </td>
        </tr></thead>
        <tbody><tr>
            <td>
                Fort verboomstraat 32, 9130 Kieldrecht
            </td>
            <td>
                Nationalestraat 22, 2000 Antwerpen
            </td>
        </tr>
        <tr>
            <td>
                Fort verboomstraat 32, 9130 Kieldrecht
            </td>
            <td>
                Nationalestraat 22, 2000 Antwerpen
            </td>
        </tr>
        <tr>
            <td>
                Fort verboomstraat 32, 9130 Kieldrecht
            </td>
            <td>
                Nationalestraat 22, 2000 Antwerpen
            </td>
        </tr>
        <tr>
            <td>
                Fort verboomstraat 32, 9130 Kieldrecht
            </td>
            <td>
                Nationalestraat 22, 2000 Antwerpen
            </td>
        </tr>
        <tr>
            <td>
                Fort verboomstraat 32, 9130 Kieldrecht
            </td>
            <td>
                Nationalestraat 22, 2000 Antwerpen
            </td>
        </tr>
        <tr>
            <td>
                Fort verboomstraat 32, 9130 Kieldrecht
            </td>
            <td>
                Nationalestraat 22, 2000 Antwerpen
            </td>
        </tr></tbody>
        <tfoot><tr class="tableTitles">
            <td>
                Vertrek
            </td>
            <td>
                Bestemming
            </td>
        </tr></tfoot>
    </table>
    <section class="addTextProfile"><img class="addIcon" src="../app/img/profilePage/addIcon.png"/>Voeg rit
        toe
    </section>
</div>

<div id="profileTrajecten" class="myRoutes profilemiddle" ng-hide="hideTrajects">
    <div class="loadingoverlay" ng-show="!trajects.mineLoaded || !trajects.iRequestedLoaded || !trajects.requestedOnMyRoutesLoaded">Loading...</div>
    <h4>Mijn trajecten</h4>
    <table class="general blackwhite">
        <thead><tr>
            <td> </td>
            <td>Pick-up</td>
            <td>Drop-off</td>
            <td>Dag</td>
            <td>Chauffeur</td>
        </tr></thead>
        <tbody><tr ng-show="trajects.mineEmpty" class="nodata"><td colspan="5">Geen trajecten gevonden</td></tr>
        <tr ng-repeat="t in trajects.mine" >
            <td class="details" ng-click="goRoute(t.route.id,t.weekday)"> </td>
            <td>{{t.pickup}}</td>
            <td>{{t.dropoff}}</td>
            <td>{{getWeekdayL10n(t.weekday)}}</td>
            <td><img height="30px" width="30px" ng-src="{{getAvatarUrl(t.route.chauffeur.avatarURL)}}" /><span>{{t.route.chauffeur.name}}</span></td>
        </tr></tbody>
        <tfoot><tr>
            <td> </td>
            <td>Pick-up</td>
            <td>Drop-off</td>
            <td>Dag</td>
            <td>Chauffeur</td>
        </tr></tfoot>
    </table>
    <h4>Trajecten die je aangevraagd hebt</h4>
    <table class="general blackwhite">
        <thead><tr>
            <td> </td>
            <td>Pick-up</td>
            <td>Drop-off</td>
            <td>Dag</td>
            <td>Chauffeur</td>
        </tr></thead>
        <tbody><tr ng-show="trajects.iRequestedEmpty" class="nodata"><td colspan="5">Geen trajecten gevonden</td></tr>
        <tr ng-repeat="t in trajects.iRequested">
            <td class="details" ng-click="goRoute(t.route.id,t.weekday)"> </td>
            <td>{{t.pickup}}</td>
            <td>{{t.dropoff}}</td>
            <td>{{getWeekdayL10n(t.weekday)}}</td>
            <td><img height="30px" width="30px" ng-src="{{getAvatarUrl(t.route.chauffeur.avatarURL)}}" /><span>{{t.route.chauffeur.name}}</span></td>
        </tr></tbody>
        <tfoot><tr>
            <td> </td>
            <td>Pick-up</td>
            <td>Drop-off</td>
            <td>Dag</td>
            <td>Chauffeur</td>
        </tr></tfoot>
    </table>
    <h4>Trajecten die werden aangevraagd op jouw route</h4>
    <span class="error" ng-show="trajects.error.unauthorized">You are not authorized to do that.</span>
    <table class="general blackwhite">
        <thead><tr>
            <td> </td>
            <td>Pick-up</td>
            <td>Drop-off</td>
            <td>Dag</td>
            <td>Aangevraagd door</td>
            <td>Acties</td>
        </tr></thead>
        <tbody><tr ng-show="trajects.requestedOnMyRoutesEmpty" class="nodata"><td colspan="6">Geen trajecten gevonden</td></tr>
        <tr ng-repeat="t in trajects.requestedOnMyRoutes">
            <td class="details" ng-click="goRoute(t.route.id,t.weekday)"> </td>
            <td>{{t.pickup}}</td>
            <td>{{t.dropoff}}</td>
            <td>{{getWeekdayL10n(t.weekday)}}</td>
            <td><img height="30px" width="30px" ng-src="{{getAvatarUrl(t.route.requester.avatarURL)}}" /><span>{{t.route.requester.name}}</span></td>
            <td>
                <button class="positive" ng-click="acceptTraject(t.id)">Accepteren</button>
                <button class="negative" ng-click="rejectTraject(t.id)">Weigeren</button>
            </td>
        </tr></tbody>
        <tfoot><tr>
            <td> </td>
            <td>Pick-up</td>
            <td>Drop-off</td>
            <td>Dag</td>
            <td>Aangevraagd door</td>
            <td>Acties</td>
        </tr></tfoot>
    </table>
</div>
</section>
<br class="clear" />
</section>
