<script src="js/controllers/resetPasswordCtrl.js"></script>
<section id="inline" ng-controller="resetPasswordCtrl">
    <section id="resetPwdForm">
        Na het versturen van je email adres ontvangt U van ons een mail met daarin uw nieuwe wachtwoord.<br/><br/>
        <input id="usernameEmail" type="email" ng-model="usernameEmail">
        <section class="error" ng-hide="hideError" name="errorMessage">
            {{ error }}
        </section>
        <button name="resetPasswordButton" ng-click="resetPwd()">Verzenden</button>
    </section>
</section>