<script src="js/controllers/passwordCtrl.js"></script>
<section class="guest" id="password" ng-controller="passwordCtrl" cpa-dve-user-access-v1="GUEST">
    <div class="form_wrapper">
        <form class="login active" id="sendPasswordForm" ng-submit="form.submit()">
            <h3>Paswoord vergeten?</h3>

            <div>
                <label>Username:</label>
                <input type="text" id="emailadres" ng-model="form.username"/>
                <span ng-class="PWRClass" ng-show="displayPWRFeedback">{{PWRFeedback}}</span>
            </div>

            <div class="bottom">
                <input type="submit" name="sendPassword" value="Stuur wachtwoord">
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <div class="clear"></div>
</section>