<script src="js/controllers/searchCtrl.js"></script>
<section id="inline" ng-controller="searchCtrl" cpa-dve-user-access-v1="MEMBER">
    <section id="infoprofile">
        <section id="profileName"><span id="profileheader">Zoek iemand om mee te carpoolen</span></section>
    </section>

    <section id="filters">
        <img class="filterIcon" src="../app/img/search/googleMapsIcon.png" ng-click="routeSearchClick()"/><br/>
        <img class="filterIcon" src="../app/img/search/clock.png" ng-click="timeSearchClick()"/><br/>
        <img class="filterIcon" src="../app/img/search/userIcon.png" ng-click="userSearchClick()"/><br/>
        <img class="filterIcon" src="../app/img/search/searchIcon.png" ng-click="resultsSearchClick()" ng-show="showSearchImage()"/>
    </section>

    <section id="searchOptions">
        <section id="routeSearchOptions" ng-hide="hideRouteSearch">
            <div id="controls">
                <input id="txtStart" class="controls" type="text" placeholder="Geef beginpunt in." ng-model="modelStart"><br>
                <input id="txtEnd" class="controls" type="text" placeholder="Geef eindpunt in." ng-model="modelEnd">
                <input id="radiusValue" class="controls" type="number" placeholder="Geef radius in" value="0" min="0" max="50" onchange="angular.element(this).scope().radiusChanged(this)">
            </div>
            <div id="map-canvasSearch"></div>
        </section>

        <section id="timeSearchOptions" ng-hide="hideTimeSearch">
            <section id="dateBlock">
                Geef de datum van vertrek:
                <div id="datePickerModel">
                    <div class="well well-sm" ng-model="dt">
                        <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
                    </div>
                </div>
            </section>

            <section id="timeBlock">
                <span>Geef het uur van vertrek:</span>

                <div id="myTimeModel" ng-model="mytime" style="display:inline-block;">
                    <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </div>
            </section>

            <section id="radiusBlock">
                <span>Geef eventuele tijdsradius:</span>

                <div id="myRadiusModel" ng-model="mytimeRadius" style="display:inline-block;">
                    <timepicker hour-step="hstep" minute-step="mstep" show-meridian="isRadius"></timepicker>
                </div>
            </section>
        </section>

        <section id="userSearchOptions" ng-hide="hideUserSearch">

            <img src="../app/img/profilePage/noSmoker.png" alt="noSmoker" id="noSmoker" ng-class="{'selectedSmoking': setNoSmokerClass()}" ng-click="selectSmoker(false)"/>
            <img src="../app/img/profilePage/smoker.png" alt="smoker" id="smoker" ng-class="{'selectedSmoking': setSmokerClass()}" ng-click="selectSmoker(true)"/>
            <br/><img src="../app/img/male.png" alt="male" id="male" ng-class="{'selectedGender': setMaleClass()}" ng-click="selectGender(true)"/>
            <img src="../app/img/female.png" alt="male" id="female" ng-class="{'selectedGender': setFemaleClass()}" ng-click="selectGender(false)"/>
        </section>
        <section class="myRoutes" id="searchResults" ng-hide="hideResultsSearch">search results
            <table id="routes" class="general blackwhite">
                <thead>
                <tr>
                    <td></td>
                    <td>Vanaf</td>
                    <td>Tot</td>
                    <td>Herhalend</td>
                    <td>Vertrek</td>
                    <td>Bestemming</td>
                    <td>Dag</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="routesEmpty()" class="nodata">
                    <td colspan="7">Er werden geen routes gevonden. Probeer uw zoekradius te vergroten.</td>
                </tr>
                <tr ng-repeat="route in routes | startFrom:currentPage.route*itemsPerPage | limitTo:itemsPerPage">
                    <td class="details" ng-click="goRoute(route.id,route.day)"></td>
                    <td>{{formatDateString(route.startDate)}}</td>
                    <td>{{formatDateString(route.endDate)}}</td>
                    <td>{{booleanL10n(route.repeating)}}</td>
                    <td>{{route.startPlace}}</td>
                    <td>{{route.endPlace}}</td>
                    <td>{{getWeekdayL10n(route.day)}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>Vanaf</td>
                    <td>Tot</td>
                    <td>Herhalend</td>
                    <td>Vertrek</td>
                    <td>Bestemming</td>
                    <td>Dag</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right;">
                        <button ng-disabled="currentPage.route == 0" ng-click="currentPage.route=currentPage.route-1">
                            Previous
                        </button>
                    </td>
                    <td style="text-align: center;">
                        {{currentPage.route+1}}
                        /
                        {{numberOfPages(routes)}}
                    </td>
                    <td colspan="3">
                        <button ng-disabled="currentPage.route >= routes.length/itemsPerPage - 1" ng-click="currentPage.route=currentPage.route+1">
                            Next
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </section>
    </section>
</section>