<script src="js/controllers/viewRouteCtrl.js"></script>
<link rel="stylesheet" href="css/viewRoute.css" />
<section id="viewRoute" class="mainSite" ng-controller="viewRouteCtrl" cpa-dve-user-access-v1="MEMBER">
    <div class="loadingoverlay" ng-show="isLoading">Loading...</div>
    <header>
        <h3>Route van {{route.chauffeur.name}}</h3>
        <ul id="tablist">
            <li ng-repeat="wdr in route.weekdayroutes" ng-click="activateTab(wdr.num)" ng-class="{active : shouldShowTab(wdr.num)}">{{getWeekdayL10n(wdr.num)}}</li>
        </ul>
        <br class="clear" />
    </header>
    <div id="tabgroup">
        <form name="trajectrequest">
            <div class="tab" ng-repeat="wdr in route.weekdayroutes" ng-show="shouldShowTab(wdr.num)">
                <div class="leftpane">
                    <p class="driverinfo decoratedinfo"><img ng-src="{{getAvatarUrl(route.chauffeur.avatar, route.chauffeur.gender)}}" alt="{{route.chauffeur.name}}" /><span class="name">{{route.chauffeur.name}}</span> is een <span class="gender" data-value="{{route.chauffeur.gender}}">{{getGenderL10n(route.chauffeur.gender)}}</span> geboren in <span class="birthyear">{{route.chauffeur.dob.getFullYear()}}</span>. Hij is een <span class="smoker" data-value="{{route.chauffeur.smoker}}">{{getSmokerL10n(route.chauffeur.smoker)}}</span>.<br class="clear" /></p>
                    <p class="carinfo decoratedinfo"><img ng-src="{{getCarImageUrl(route.car.image)}}" alt="{{route.car.brand}} {{route.car.model}}" /><span class="driver">{{route.chauffeur.name}}</span> rijdt met een <span class="carname">{{route.car.brand}} {{route.car.type}}</span>. Deze auto rijdt op <span class="fueltype">{{getFueltypeL10n(route.car.fueltype)}}</span> en verbruikt <span class="consumption">{{route.car.consumption}}L/km</span>.<br /><br />Deze route zal gereden worden van <span class="startdate">{{getDateL10n(route.startDate)}}</span> tot <span class="enddate">{{getDateL10n(route.endDate)}}</span> op <span class="weekday">{{getWeekdayL10n(wdr.num)}}</span>.<br class="clear" /></p>
                    <p>Indien u mee wilt rijden, kan u dat hieronder in de tabel opgeven. In kolom A kan u opgeven waar u opgehaalt wenst te worden, in kolom B waar u afgezet wenst te worden. Klik vervolgens op &quot;traject aanvragen&quot;.</p>
                    <table class="passages general color">
                        <thead><tr>
                            <td>#</td>
                            <td>Adres</td>
                            <td>Tijd</td>
                            <td>A</td>
                            <td>B</td>
                        </tr></thead>
                        <tbody><tr ng-repeat="passage in wdr.passages">
                            <td>{{passage.seqnr}}</td>
                            <td>{{passage.address}}</td>
                            <td>{{passage.time}}</td>
                            <td><input type="radio" ng-model="trajRequest.pickup" ng-value="passage.id" /></td>
                            <td><input type="radio" ng-model="trajRequest.dropoff" ng-value="passage.id" /></td>
                        </tr></tbody>
                        <tfoot><tr>
                            <td>#</td>
                            <td>Adres</td>
                            <td>Tijd</td>
                            <td>A</td>
                            <td>B</td>
                        </tr></tfoot>
                    </table>
                    <span class="error" ng-show="error.bothrequired">U moet zowel een ophaalpunt als een afzetpunt selecteren.</span>
                    <span class="error" ng-show="error.sequence">Het afzetpunt moet na het ophaalpunt liggen.</span>
                    <span class="error" ng-show="error.capacity">Helaas is er op het traject dat u koos niet voldoende capaciteit meer.</span>
                    <span class="error" ng-show="error.unknown">Er trad een fout op. Probeer later opnieuw.</span>
                    <p><input type="submit" ng-click="requestTraject()" name="submit" value="Traject aanvragen" /></p>
                </div>
                <div class="rightpane">
                    <div style="height:500px">
                    <div id="map-canvas-{{wdr.num}}" class="map-canvas">
                        <cpa-gmap markers="wdr.markers" class="map-wrapper" isshown="{{shouldshow[wdr.num]}}"></cpa-gmap>
                        <br class="clear" />
                    </div></div><br class="clear" />

                    <div ng-show="viewTrajects">
                        <h4>Passagiers</h4>
                        <table class="general color">
                            <thead>
                            <tr>
                                <td>Pick-up</td>
                                <td>Drop-off</td>
                                <td>Passenger</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="wdr.trajectsEmpty" class="nodata">
                                <td colspan="3">Geen trajecten gevonden</td>
                            </tr>
                            <tr ng-repeat="t in wdr.trajects | startFrom:currentPage*itemsPerPage | limitTo:itemsPerPage">
                                <td>{{t.pickup}}</td>
                                <td>{{t.dropoff}}</td>
                                <td ng-click="goToProfile(t.passenger.id)"><img height="30px" width="30px" ng-src="{{getAvatarUrl(t.passenger.avatarURL)}}"/><span>{{t.passenger.name}}</span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>Pick-up</td>
                                <td>Drop-off</td>
                                <td>Passenger</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="tableNavigation">
                                    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                        Previous
                                    </button>

                                    {{currentPage+1}}
                                    /
                                    {{numberOfPages(wdr.trajects)}}

                                    <button ng-disabled="currentPage >= wdr.trajects.length/itemsPerPage - 1" ng-click="currentPage=currentPage+1">
                                        Next
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <br class="clear" />
            </div>
        </form>
    </div>
</section>